<footer class="shadow bg-gray-900">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
      <div class="sm:flex sm:items-center sm:justify-between">
          <a href="/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
              <a [href]="linkedInURL" target="_blank" aria-label="LinkedIn" rel="noopener">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="h-6 w-6 -mb-1 clickable" viewBox="0 0 24 24">
                  <path class="fill-[#eadab9]" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
                </svg>
              </a>
              <span class="self-center text-2xl font-semibold whitespace-nowrap text-[#eadab9]">Dane Slatten</span>
          </a>
          <ul class="flex flex-wrap items-center mb-6 text-sm font-medium sm:mb-0 text-[#eadab9]">
            @for (item of links; track item.title) {
              <li>
                <a
                  class="block mt-4 lg:inline-block text-xl lg:mt-0 text-[#eadab9] clickable ml-4 lg:ml-6"
                  [href]="item.url"
                  routerLinkActive="border-b"
                  rel="noopener"
                >
                  <span>{{ item.title }}</span>
                </a>
              </li>
            }
          </ul>
      </div>
      <hr class="my- sm:mx-auto border-gray-700 lg:my-8" />
      <span class="block text-sm sm:text-center text-gray-400">© {{currentYear}} Dane Slatten™ All Rights Reserved.</span>
  </div>
</footer>