<div class="content container mx-auto px-2 py-4 lg:px-0 lg:py-6 min-h-svh">
  <div class="ux w-full lg:w-auto flex justify-center lg:hidden mt-11">
    <img src="../assets/images/me-old.png" alt="self portrait old fashioned" class="w-44 h-44 mx-auto rounded-full opacity-90 shadow">
  </div>
  <div id="services" class="section relative pt-20  md:pt-16">
    <header class="text-center mx-auto mb-12 lg:px-20">
      <h2 class="text-2xl leading-normal mb-2 font-bold text-gray-900">Who I Am</h2>
      <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">A Designer, Developer, &amp; Team Player</p>
    </header><!-- End heading -->

    <div class="flex justify-center flex-col lg:flex-row items-center">
      <div class="ux w-full lg:w-1/3 text-center p-4 mb-4 lg:mb-0">
        <h2 class="font-semibold text-xl">UX/UI Designer</h2>
        <p class="text-gray-700">I am passionate about the creative process in UX/UI design, transforming ideas into visually engaging, user-centric interfaces. From brainstorming concepts to refining details, I thrive on crafting experiences that are both functional and emotionally impactful. Blending artistic vision with problem-solving fuels my drive to create designs that leave a lasting&nbsp;impression.</p>
      </div>
      <div class="ux w-full lg:w-auto m-11 hidden lg:block">
        <img src="../assets/images/me-old.png" alt="self portrait old fashioned" class="w-44 h-44 mx-auto rounded-full opacity-90 shadow">
      </div>
      <div class="ux w-full lg:w-1/3 text-center p-4">
        <h2 class="font-semibold text-xl">Front End Developer</h2>
        <p class="text-gray-700">I enjoy the challenges of front-end development, where creativity meets technical precision. Bringing designs to life as interactive web applications fascinates me, as it requires both innovation and detail-oriented execution. Solving complex problems, optimizing performance, and delivering seamless user experiences keep me motivated to stay ahead in modern web&nbsp;development.</p>
      </div>
    </div>

  </div>
<div id="services" class="section relative pt-20 pb-8 md:pt-16 md:pb-0">
  <div class="mx-auto px-4">
    <!-- Heading start -->
    <header class="text-center mx-auto mb-12 lg:px-20">
      <h2 class="text-2xl leading-normal mb-2 font-bold text-gray-900">What I Do</h2>
      <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">Design &amp; Develop User Friendly Web Products</p>
    </header><!-- End heading -->

    <!-- row -->
    <div class="flex flex-wrap text-center">
        <div *ngFor="let tile of tiles" class="flex flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6">
          <!-- service block 1 -->
          <div class="p-6 md:p-8 lg:p-10 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-200 ease-in-out hover:-translate-y-2 hover:shadow">
            <div class="flex justify-center text-gray-900 mb-3">
              <!-- icon -->
               <div class="icon mx-auto" [class]="tile.icon"></div>

            </div>
            <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-900">{{tile.title}}</h3>
            <p class="text-gray-500">{{tile.copy}}</p>
          </div> 
        </div>

    </div><!-- end row -->
  </div>
  <div class="flex justify-center">
    <a href="/contact" target="">
      <button class="mb-11 py-2.5 px-10 inline-block text-center leading-normal text-white bg-[#ef8348] border-b border-gray-100 hover:text-gray-900 hover:shadow hover:border-gray-300 clickable">
        Contact Me
      </button>
    </a>
  </div>
</div>
</div>