<div class="bg-gray-900 shadow-md">
  <nav class="container mx-auto flex items-center justify-between flex-wrap px-2 lg:px-0 py-3">
    <div class="flex items-center flex-shrink-0 mr-6">
      <a href="/" class="flex items-center">
        <img [src]="imgUrl" class="rounded-full -m-3 ms-0 hidden lg:block" style="transform: scaleX(-1);" alt="" height="75px" width="75px">
        <span class="font-bold text-[#eadab9] text-4xl tracking-tigh ml-6 mr-4">{{ this.title }}</span>
      </a>
      <a [href]="linkedInURL" target="_blank" aria-label="LinkedIn" rel="noopener">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="h-6 w-6 -mb-1 clickable" viewBox="0 0 24 24">
          <path class="fill-[#eadab9]" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
        </svg>
      </a>
    </div>
    
    <div class="w-full block flex-grow lg:flex lg:justify-center lg:items-center lg:w-auto">
      <div class="text-sm flex lg:flex-grow lg:justify-end align-middle items-center">
        <div class="">
          @for (item of links; track item.title) {
            <a
              class="block mt-4 lg:inline-block text-xl lg:mt-0 text-[#eadab9] clickable ml-4 lg:ml-6"
              [href]="item.url"
              routerLinkActive="border-b"
              rel="noopener"
            >
              <span>{{ item.title }}</span>
            </a>
          }
        </div>
      </div>
    </div>
  </nav>
</div>