@import "@splidejs/splide/dist/css/splide.min.css";

.splide__arrows.justify-between.w-full.flex.splide__arrows--ltr {
  position: relative;
}

.splide__arrow.splide__arrow--prev {
  transform: translate(-65px, 120px);
  padding-left: 5px;
  padding-right: 9px;
}
.splide__arrow.splide__arrow--next {
  transform: translate(65px, 120px);
  padding-left: 7px;
  padding-right: 7px;
}
button.splide__arrow {
  background: #16161640;
  border-radius: 200px;
  z-index: 11;
  width: 50px;
  height: 50px;
}

.splide__arrow svg.bi {
  fill: #fff;
  width: 27px;
  height: 27px;
}
